@import "reset.css";
body {
  font-family: "Roboto";
  background-color: #f5f7fa;
}
.wrapper {
  margin: 0 auto;
  max-width: 1280px;
  padding-top: 60px;
  padding-bottom: 30px;
}

.change {
  color: #ca5656;
  background-color: rgb(168, 203, 235);
}

.logo-item {
  color: #00b7ff;
  font-size: 80px;
  line-height: 94px;
  display: inline-block;
}
.logo-text {
  font-size: 80px;
  line-height: 94px;
  display: inline-block;
}

.menu {
  background-color: #35444f;
  margin-top: 38px;
  margin-bottom: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
}
.menu_item {
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  border-left: 1px solid #fff;
  padding: 26px 40px 19px;
}
.menu_item_hover {
  position: relative;
}
.menu_item_hover:hover {
  background-color: #222f3a;
}
.menu_item_hover:before {
  content: "";
  position: absolute;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  transition: 0.2s;
  transform: scaleX(0);
}

.menu_item_hover:hover:before,
.menu_item_hover:hover:after {
  transform: scale(1);
}

.menu_item_hover:after {
  content: "";
  position: absolute;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  transition: 0.2s;
  transform: scaleY(0);
}
/* Main-container */
.main__container {
  display: flex;
}

/* Side-bar */
.side-bar_navigation {
  border: 1px solid #000000;
  display: flex;
  flex-direction: column;
  width: 344px;
}

.side-bar_list {
  font-size: 27px;
  line-height: 27px;
  padding: 26px 44px;
  justify-content: flex-start;
  display: flex;
}

/* Side-bar Link (Hover) */
.side-bar_hover {
  position: relative;
}

.side-bar_hover:hover {
  background: #222f3a;
  color: #fff;
}

.side-bar_hover:before {
  content: "";
  position: absolute;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  transition: 0.2s;
  transform: scaleY(0);
}
.side-bar_hover:after {
  content: "";
  position: absolute;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  transition: 0.2s;
  transform: scaleY(0);
}
.side-bar_hover:hover:before,
.side-bar_hover:hover:after {
  transform: scale(1);
}
.side-bar_hover_link {
  transition: 0.2s;
  transform: translateX(0px);
}
.side-bar_hover:hover .side-bar_hover_link {
  transform: translateX(20px);
}

/* Main Content */
.image-container {
  overflow: hidden;
  display: grid;
  border: 1px solid #000000;
  width: 885px;
  padding-top: 75px;
  padding-bottom: 75px;
  place-content: center;
}
/* Photo */
.main-image {
  width: 320px;
  height: 381px;
  transition: 1.2s;
  display: block;
}
.main-image:hover {
  transform: scale(1.1);
}
.main-content {
  margin-left: 50px;
}
.paragraph {
  margin-top: 35px;
  text-align: left;
  font-size: 18px;
  line-height: 24px;
}
/* Footer Navigation Menu */
.footer-navigation {
  font-size: 28px;
  line-height: 28px;
  align-items: center;
  display: grid;
  grid-auto-flow: column;
  gap: 25px;
}
footer {
  display: flex;
  justify-content: space-between;
  margin: 54px auto 0;
  background: rgba(99, 105, 110, 0.48);
  padding-left: 44px;
  padding-right: 44px;
}
.footer-navigation-link {
  display: flex;
  margin: 20px 0px;
}
.footer-copyright {
  font-size: 24px;
  line-height: 24px;
  align-self: center;
}
/* Footer Link (Hover)*/
.footer_link_hover {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
}
.footer_link_hover:before {
  content: "";
  position: absolute;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  transition: 0.2s;
  transform: scaleX(0);
}
.footer_link_hover:after {
  content: "";
  position: absolute;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  transition: 0.2s;
  transform: scaleY(0);
}
.footer_link_hover:hover:before,
.footer_link_hover:hover:after {
  transform: scale(1);
}

.footer_link_hover:hover {
  color: #fff;
  background-color: #222f3a;
}
